@layer variables {
  :root {
    --modal-background-color: #1f1f1f;
  }
}
@layer animations {
  @keyframes show {
    from {
      opacity: 0;
      scale: 1;
    }
    to {
      scale: 1;
      opacity: 1;
    }
  }

  @keyframes hide {
    from {
      opacity: 1;
      scale: 1;
    }
    99% {
      scale: 1;
    }
    to {
      scale: 0;
      opacity: 0;
    }
  }
}
@layer general {
  .modal {
    --transition-time: 100ms;
    scale: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.386);
    position: fixed;
    z-index: 100;
    opacity: 1;
    animation-fill-mode: forwards;
    animation-duration: var(--transition-time);
  }

  .modal-content {
    width: min(350px, 90vw);

    overflow: hidden;
    position: relative;
    background-color: var(--primary-text-color);
    color: var(--modal-background-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1em;
    padding-top: 1.5em;
    border-radius: 20px;
    font-weight: 900;

    .buttons {
      color: var(--primary-text-color);
      display: flex;
      gap: 5px;
      justify-content: flex-end;
      button {
        font-size: 0.9em;
        width: 70px;
        height: 30px;
        border-radius: 20px;
        &:hover {
          opacity: 0.8;
        }
        &:active {
          filter: sepia(50%);
        }
        &:focus {
          outline: 2px black solid;
        }
      }
      .ok {
        text-transform: uppercase;
        background-color: var(--primary-color);
      }
      .cancel {
        text-transform: capitalize;
        background-color: var(--secondary-color);
      }
    }
    .input {
      padding: 0.4em;
      border-radius: 10px;
      border: 2px var(--outline-color) solid;
      &:focus-visible {
        --outline-color: transparent;
        outline: 2px var(--primary-color) solid;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: 10px;
      background-color: var(--primary-color);
    }
  }
}
@layer specific {
  .confirm {
  }
  .prompt {
  }
  .modify-todo {
    gap: 9px;
    .input-group {
      display: flex;
      flex-direction: column;
      gap: 5px;

      label {
        min-width: 80px;
        align-self: flex-start;
      }
      textarea {
        resize: none;
        height: 6em;
        &.input-notes {
          color: var(--secondary-text-color);
        }
      }
    }

    .additional-controls {
      display: flex;
      flex-direction: column;
      gap: inherit;
    }
    .priority-btn {
      width: 4em;
    }
  }
  .active[data-value="1"] {
    background-color: var(--priority-high); /* High priority */
    color: var(--priority-high-text-color);
  }
  .active[data-value="0"] {
    background-color: var(--priority-normal); /* Normal priority */
    color: var(--priority-normal-text-color);
  }
  .active[data-value="-1"] {
    background-color: var(--priority-low); /* Low priority */
    color: var(--priority-low-text-color);
  }
}
