@layer general {
  .main-content {
    display: flex;
    justify-content: center;
    /* background-color: red; */
    height: 100%;
    overflow-y: auto;
    overflow-x: none;
    padding: 3em;
    padding-top: 4em;
    padding-bottom: 0.5em;
  }

  .inner-content {
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-width: 900px;
    width: 100%;
    margin-bottom: 20em;
  }

  .main-item {
    width: 100%;
    text-align: left;
    display: flex;
    gap: 7px;

    p {
      display: grid;
      align-content: center;
      max-width: 70%;
      word-break: break-all;
      hyphens: auto;
    }
  }

  .clear-input {
    box-sizing: border-box;
    padding: 0;
    box-sizing: border-box;
    /* width: max-content; added via javascript ./main */
    font-weight: inherit;
    font-size: inherit;
    border: none;
    &:focus {
      outline: none;
    }
    &:disabled {
      background-color: transparent;
      color: black;
    }
  }
}

@layer specific {
  .todo,
  .block summary {
    position: relative;
    border-bottom: 1px var(--outline-color) solid;
    border-radius: 0;
    padding-top: 0.55em;
    padding-bottom: 0.55em;
    /* font-size: 0.97em; */
    &:hover {
      background-color: transparent;
    }
    .remove-button {
      padding: 3px;
      padding-top: 5px;
      height: 25px;
      width: 24px;
      margin-left: 0;
      position: absolute;
      right: 1px;
      display: inline;
      svg {
        overflow: hidden;
        height: inherit;
        width: inherit;
      }
    }
  }

  .checked {
    text-decoration: line-through;
    color: var(--secondary-text-color);
  }
  .todo {
    p {
      display: flex;
      max-width: 70%;
      padding-top: 7px;
    }
    .complete-button {
      display: grid;
      padding-top: 5px;

      &.checked {
        /* background-color: red; */
        svg {
          color: var(--secondary-text-color);
        }
      }
      svg {
        scale: 0.8;
        border: 1px var(--secondary-text-color) solid;
        border-radius: 50%;
        color: transparent;
        &:hover {
          color: var(--secondary-text-color);
        }
      }
    }
  }

  .header {
    gap: 5px;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 0.8em;
    font-weight: 600;
    font-size: 1.5em;
    .icon {
      width: 32px;
      padding-bottom: 2px;
    }
  }
  .block summary {
    list-style: none;
    cursor: pointer;
    position: relative; /* Establish positioning context for ::after */

    &::-webkit-details-marker {
      display: none;
    }
    color: var(--headline-color);
    .title {
      color: inherit;
    }
    &::before {
      content: "▶";
      position: relative;
      left: -20px;
      display: inline-block;
      margin-right: 5px;
    }

    :is(details[open]) &::before {
      content: "▼";
    }
    :is(details[open]) & {
      color: var(--primary-color);
      .remove-button {
        scale: 0;
        svg {
          color: transparent;
        }
      }
    }

    .todolist-title {
      position: relative;
      left: -20px;
      display: inline;
      width: max-content;
      font-weight: 600;
      font-size: 0.95em;
    }

    .remove-button {
      scale: 1;
      margin-bottom: 0.55em;
      top: 0;
    }
    &:hover {
    }
  }
  .add-button {
    display: flex;
    margin: 0;
    padding-top: 0.5em;
    color: var(--secondary-text-color);
    font-size: 0.9em;

    .icon {
      display: grid;
      height: 24px;
      aspect-ratio: 1/1;
      place-content: center;

      svg {
        width: 13px;
        height: 13px;
        color: var(--primary-color);
      }
    }
    &:hover {
      background-color: transparent;
      color: var(--primary-color);
    }
  }
}
