.side-content {
  height: 100%;
  gap: 16px;
  padding: 1em;
  overflow: auto;
}
.pre-made,
.user-made {
  display: flex;
  flex-direction: column;
  user-select: none;
  p {
    pointer-events: none;
  }
  .icon {
    pointer-events: none;
    display: flex;
    align-items: center;
    aspect-ratio: 1/1;
    height: 20px;
    gap: 6px;
    svg {
      height: 1.6em;
    }
  }
}

.pre-made {
  /* background-color: aquamarine; */
  height: max-content;
  flex-grow: 1;
  flex-shrink: 1;
  margin-bottom: 16px;
}

.user-made {
  flex-grow: 1;
  flex-shrink: 1;
}

.side-item {
  height: 34px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  gap: 6px;
  width: 100%;
}
.side-header {
  font-size: 1.1em;
  margin: 0;
  display: flex;
  align-items: center;
  color: var(--paragraph-color);
}

.add-task {
  color: var(--primary-color);
  font-weight: 600;
  .icon {
    svg {
      fill: var(--primary-color);
    }
  }
}

.active {
  background-color: var(--highlight-color);
  color: var(--primary-color);
  .icon {
    svg {
      fill: var(--primary-color);
      color: inherit;
    }
  }
}
