@layer general {
  .side-content {
    height: 100%;
    gap: 16px;
    padding: 1em;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .pre-made,
  .user-made {
    display: flex;
    flex-direction: column;
    user-select: none;
    p {
      pointer-events: none;
    }
    .icon {
      display: grid;
      height: 24px;
      width: 24px;
      gap: 6px;
      svg {
        height: 1.6em;
      }
    }
  }
  .pre-made {
    /* background-color: aquamarine; */
    height: max-content;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: 16px;
    .icon {
      pointer-events: none;
    }
  }

  .user-made {
    flex-grow: 1;
    flex-shrink: 1;
  }
  .side-item {
    height: 34px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    gap: 6px;
    width: 100%;
  }
}
@layer specific {
  .side-header {
    font-size: 1.1em;
    margin: 0;
    display: flex;
    align-items: center;
    color: var(--paragraph-color);
  }

  .add-task {
    color: var(--primary-color);
    font-weight: 600;
    .icon {
      svg {
        fill: var(--primary-color);
      }
    }
  }

  .active {
    background-color: var(--highlight-color);
    color: var(--primary-color);
    .icon {
      svg {
        fill: var(--primary-color);
        color: inherit;
      }
    }
  }
  .add-project {
    font-size: 0.8em;
    font-weight: 600;
    color: var(--secondary-text-color);
    .icon {
      svg {
        fill: var(--primary-color);
      }
    }
    &:hover {
      color: var(--primary-color);
      background-color: transparent;
    }
    &.active {
      background-color: transparent;
    }
  }

  .remove-button {
    position: absolute;
    right: 5%;
    overflow: hidden;
    display: grid;
    align-content: center;
    pointer-events: all;
    width: 32px;
    height: 32px;
    &:hover {
      background-color: transparent;
      svg {
        color: red;
      }
    }
  }
}
